<?PHP
/*
  Copyright (C) 2001  Thomas Schneider, thomyschneider@users.sourceforge.net
 
  This file is part of the MyCD-DB package! For more information
  about MyCD-DB please look at:
  http://mycd-db.sourceforge.net/

  This program is free software; you can redistribute it and/or
  modify it under the terms of the GNU General Public License
  as published by the Free Software Foundation; either version 2
  of the License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program; if not, write to the Free Software
  Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
  
  $Id: config.inc.php.example,v 1.9 2001/09/12 12:07:17 thomyschneider Exp $
*/

if (!defined('__CONFIG_INC__')) {
  define('__CONFIG_INC__', 1);

  $mysql_server="yourhost";
  $mysql_user  ="youruser";
  $mysql_pass  ="yourpass";
  $mysql_db    ="your_db";

  $config["admin_auth_intern"] = 1;   /* if set this to 0 admin need external auth method -
					 in mycd-db when admin is in every case authentificated */
  $config["admin_user_name"]   = "admin";
  $config["admin_user_pw"]     = "admin";
  
  $config["version"] = "0.1.3";
  $config["db_conn"] = 0;
  $config["top_menu_items"] = 8;

  $config["menu_norm_bg"] = "#000084";
  $config["menu_norm_fg"] = "#FFCC00";
  $config["menu_act_bg"] = $config["menu_norm_fg"];
  $config["menu_act_fg"] = $config["menu_norm_bg"];
  $config["left_menu_topic_color"] = "#FFFFFF";
  
  $config["tab_head_bg"] = "#D6D6D6";
  $config["tab_odd_bg"]  = "#F0F0E8";
  $config["tab_even_bg"] = "#F7F7EF";

  $config["songs_per_page"]     = 15;
  $config["cds_per_page"]       = 15;
  $config["artists_per_page"]   = 15;
  $config["genres_per_page"]    = 15;
  $config["results_p_page_l1"]  = 15;
  $config["results_p_page_l2"]  = 30;

}

?>
