/* file:                 mycd-db .css                                  */ 
/* author:               Stefan Birkner                                */ 
/* date of creation:     17.10.2006                                    */ 
/* date of last change:  17.10.2006                                    */ 
/* abstract:             The basic css for mycd-db                     */ 
 
body {
	background-color:#ffffff; 
	color:#000000;
	margin:0;
	padding-top:6pt;
	padding-bottom:24pt;
	padding-left:6pt;
	padding-right:6pt;
	font-family: Helvetica,Arial,sans-serif;
}

h1, h2 {
	text-align:center;
}

table {
	width:100%;
}

th {
	background-color:#d6d6d6; 
}

tr.even {
	background-color:#f0f0e8; 
}

a:active { color:#ff0000; }
a:link { color:#0000ef; }
a:visited { color:#51188e; }


/*** top bar *********************************************************/

.topBar {
	background-color:#000084;
	color:#ffcc00;
	border-style:solid;
	border-color:#aaaaaa;
	border-width:thin;
	-moz-border-radius:6pt;
	padding:6pt;
	font-weight:bold;
}

.topBar table {
	width:80%
}

.topBar table tr th, .topBar table tr th a {
	background-color:#000084;
	color:#ffcc00;
	text-align:center;
}

.topBar table tr td {
	color:#ffcc00;
	font-size:1.1em;
	font-weight:bold;
	text-align:center;
}

/*** login and search bar ********************************************/

.loginAndSearchBar ul {
	margin-top:6pt;
	margin-right:12pt;
	text-align:right;
}

.loginAndSearchBar li {
	padding:0pt 12pt 0pt 12pt;
	list-style-type:none;
	display:inline;
}


/*** footer **********************************************************/

.footer {
	position:absolute;
	bottom:0;
	width:95%;
	margin-top:12pt;
	margin-bottom:6pt;
	font-size:8pt;
	text-align:center;
}