/* file:                 mathematics.css                                */ 
/* author:               Stefan Birkner                                */
/* date of last change:  09.11.2006                                    */ 
/* abstract:             An additional style sheet for pages about     */
/*                       mathematics.                                  */ 

h1,h2 {
	max-width:600pt;
}

h1 {
	font-family: Times,'Times New Roman',serif;
	font-size:30pt;
	font-stretch:wider;
	font-variant:small-caps;
	font-weight:normal;
	letter-spacing:0.1em;
	text-align:center;
	margin-top:1em;
	margin-bottom:0.5em;
	border-style:none;
}

h3,h4,h5,h6,p,form,ul {
	max-width:590pt;
	margin-left:5pt;
}

form {
	background-color:#ddddff;
	margin:0.5em 1em;
	max-width:560pt;
	border-width:0cm; 
	padding:0.5cm; 
	text-align:center;   /* Irgendwann für CSS2.0 durch alignment:center ersetzen */
}

table {
	margin-left:10pt;
}

th {
	background-color:#dddddd;
}

tr.even th,tr.even td {
	background-color:#f2f2f2;
}

.formula {
	font-style:italic;
}

.formulaOneLine {
	font-style:italic;
	padding-left:1cm;
}
