/* DATEI: photonenwerk.css */ 
/* AUTOR: Stefan Birkner */ 
/* ERSTELLT AM: 01.11.2001 */ 
/* INHALT: Dies ist die css-Datei die ich als Basis für die Photonenwerk-Seiten verwende. */ 
 
body { background-color:#808080; } 
 
p,h1,h2,h3,h4,ul,ol,li,div,table,td,th,address,blockquote,nobr,b,i { color:#000000; 
       font-family:Helvetica,sans-serif;
       alignment:center;
       text-align:center;
       paddin:1pt; } 
 
h1 { color:#000000; 
     font-size:xx-large; } 
 
h2 { color:#0000D0; 
     font-size:16pt; }


h4 { background-color:#909090;
	border-color:#C0C080; 
	border-style:solid; 
	border-width:thin;  } 
 
img { border:0; } 
 
a:link { color:#B0B0F0; text-decoration:underline; } 
a:visited { color:#6060B0; text-decoration:underline; } 
a:active { color:#D0D000; text-decoration:none; }