/* DATEI: uml.css */ 
/* AUTOR: Stefan Birkner */ 
/* ERSTELLT AM: 06.02.2002 */ 
/* INHALT: Dies ist die css-Datei, zum Formatieren von UML-Diagrammen. */ 

.classname {
	border-color:#000000; 
	border-style:solid; 
	border-width:thin;
	font-weight:bold;
	alignment:center;
	text-align:center;
	margin-bottom:0;
}

.members {
	border-color:#000000; 
	border-style:solid; 
	border-width:thin;
	font-weight:normal;
	alignment:left;
	text-align:left;
	margin-top:0;
	margin-bottom:0;
}


.methods {
	border-color:#000000; 
	border-style:solid; 
	border-width:thin;
	font-weight:normal;
	alignment:left;
	text-align:left;
	margin-top:0;
}


